
.traffic-light{
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
}

.light{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 4px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.selected{
    box-shadow: 0 0 50px 15px #48abe0;
}